
.form-login {
    width:400 !important;
    transform: translate(0%, 35%);
}

.menu-titile {
    max-width: 200px;
    background-color:#16C09F;
    border-radius: 22px;
}
.menu-text-title {
    padding: 1.4rem;
    font-size: 32px;
}

.menu-text-issue {
    font-size: 23px;
}

.menu-box {
    width:200px;
    height:200px;
    padding:2rem;
    margin:2rem;
    background-color:#fff;
    border-color: #16C09F;
    border-style: solid;
    justify-content: center;
    border-radius: 22px;
}

.mylink {
    color: #fff !important;
}

.mylink:hover {
    color: #16C09F !important;
}

.mylink-red {
    color: #fff !important;
}

.mylink-red:hover {
    color: red !important;
}

.hover-warning:hover {
    color: #ffcc00 !important;
    border-color: #ffcc00 !important;
}

.card-form {
    min-width: 460px;
}

/* Ipad */
@media (min-width: 481px) and (max-width: 800px) {
    .form-login {
        width:600 !important;
        transform: translate(0%, 35%);
    }

    .menu-box {
        width:170px;
        height:170px;
        padding:0.5rem;
        margin:1rem;
    }

    .card-form {
        min-width: 380px;
    }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {

    .form-login {
        width:300 !important;
        transform: translate(0%, 35%);
    }

    .menu-box {
        width:170px;
        height:170px;
        padding:0.5rem;
        margin:1rem;
    }

    .card-form {
        min-width: 250px;
    }

    .mylink {
        color: #000 !important;
    }

}