
.ant-menu-submenu-arrow {
  color: #fff !important;
}

.ant-menu-item-selected a, .ant-menu-item-selected a:hover {
  color: #9fd4cb !important;
}

.ant-menu-submenu-active .ant-menu-submenu-title:hover{
  color: #16C09F !important;
}

.ant-menu-inline .ant-menu-submenu {
  padding-bottom: 0.02px;
  color: #fff !important;
}

.ant-menu-submenu-active .ant-menu-submenu-title i{
  color: #16C09F !important;
}

.ant-menu-submenu-active .ant-menu-submenu-title span svg{
  color: #16C09F !important;
}

.ant-menu-submenu-selected {
  color: #16C09F !important;
}

.ant-menu-submenu-selected i{
  color: #16C09F !important;
}

.ant-menu-sub.ant-menu-inline {
  background: #383838 !important;
  /* background: #fff !important; */
}

.ant-btn-primary {
    color: #fff !important;
    background: rgb(22, 192, 159) !important;
    border-color: rgb(22, 192, 159) !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
}

.ant-layout-header {
  height: 62px !important;
  padding: 0 28px !important;
  color: #fff;
  line-height: 64px;
  background: #383838 !important;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid rgb(22, 192, 159) !important;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: 1px solid #383838;
}

.ant-menu-item-selected {
  color: rgb(22, 192, 159) !important;
  background-color: #9fd4cb !important;
}

.ant-menu {
  margin: 0 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.ant-menu-item:hover {
  color: #16c09f !important;
}

/* modify the header text 、 the background color  */
.ant-table-thead > tr >th{
  color: white;
  background: #333 !important;
}

/* modify list text 、 the background color  */
.ant-table-tbody > tr >td{
  color: #000;
  background: #ababab !important;
}

.navigation {
  background-color: #ffffff;
}

.c-black { 
  color: #000000;
}

.ant-table-summary > tr >td{
  color: #000000;
  background: #bfdbd7 !important;
}

.ant-menu-submenu-popup > .ant-menu {
  background-color: #333;
}

span[aria-label=setting] svg {
  color: #fff !important;
}

span[aria-label=arrow-right] svg {
  color: #fff !important;
}

span[aria-label=database] svg {
  color: #fff !important;
}

@media  (min-width: 320px) and (max-width: 576px) {

  span[aria-label=setting] svg {
    color: #000 !important;
  }
  
  span[aria-label=arrow-right] svg {
    color: #000 !important;
  }
  
  span[aria-label=database] svg {
    color: #000 !important;
  }

  .ant-menu-inline .ant-menu-submenu {
    padding-bottom: 0.02px;
    color: #000 !important;
  }

  .ant-menu-submenu-title:hover {
    color: #16c09f;
  }

  .ant-menu-sub.ant-menu-inline {
    background: #fff !important;
  }

  .ant-menu-item-selected a, .ant-menu-item-selected a:hover {
    color: #16c09f !important;
  }

}